* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media (min-width: 992px) {
  .col-lg-4 {
  width: 32%;
  float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
}
  .col-md-6 {width: 48%;}
  .col-md-12 {width: 99%;}
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 99%;
    float: left;
  }
}

body {
  font-family: Arial, Verdana, san-serif;
}

h1 {
  font-family: Georgia, "Times Roman", serif;
  color: blue;
  text-align: center;
  margin-bottom: 10px;
}

div {
  position: relative;
  padding: 10px;
  text-align: justify;
  background-color: rgba(168, 168, 168, 0.73);
  margin: 5px;
}

.menuTitle {
  position: absolute;
  top: 0;
  right: 0px;
  padding: 2px;
  min-width: 60px;
  text-align: center;
}

#chicken {
  background-color: yellow;
}

#beef {
  background-color: red;
}

#sushi {
  background-color: green;
}