* {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .col-lg-4, .col-lg-6 {
  width: 33%;
  float: left;
  border: 1px solid black;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid black;
}
  .col-md-6 {width: 50%;}
  .col-md-12 {width: 100%;}
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
    border: 1px solid black;
  }
}

#chicken {
  background-color: yellow;
}

#beef {
  background-color: red;
}

#sushi {
  background-color: orange;
}