* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@media (min-width: 992px) {
  .col-lg-4 {
  width: 33%;
  float: left;
  border: 1px solid black;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
}
  .col-md-6 {width: 50%;}
  .col-md-12 {width: 100%;}
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
    float: left;
    border: 1px solid black;
  }
}

body {
  font-family: Arial, Verdana, san-serif;
}

h1 {
  font-family: Georgia, "Times Roman", serif;
  color: blue;
  text-align: center;
  margin-bottom: 10px;
}

div {
  position: relative;
  padding: 10px;
  text-align: justify;
}

.menuTitle {
  float: right;
  clear: right;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

#chicken {
  background-color: yellow;
}

#beef {
  background-color: red;
}

#sushi {
  background-color: orange;
}